<app-navbar-user></app-navbar-user>

<div class="container my-4">
  <div class="row mb-3">
    <!-- Contenedor 1 -->
    <div class="col-12">
      <div class="custom-container">
        <div *ngIf="project" class="contenido-proyecto">
          
          <!-- Datos contenedor 1 -->
          <div class="info-proyecto">
            <div class="titulo-proyecto">
              <h1>{{ project.name }}</h1>
            </div>
            <div class="bloque-proyecto">
              <h2><img [src]="imageOwner || 'perfiles/pordefecto.png'" class="me-2" style="width: 40px; height: 40px; border-radius: 50%;"> {{ nombreOwner }}</h2>
              <!-- Si no eres miembro mostrar el boton "Unirme" -->
              <div *ngIf="rolCargado && !isMember && project.current_members < project.max_members"
                  class="bloque-unirse" 
                  (click)="solicitarAcceso()">
                <span class="texto-unirse">🤝 ¿Te gusta este proyecto? ¡Solicita unirte ahora!</span>
                <button class="boton-elegante verde" [disabled]="project.current_members >= project.max_members">Unirme</button>
              </div>


              <!-- Mensaje de solicitud -->
              <p *ngIf="mensajeSolicitud" class="solicitud-pendiente">{{ mensajeSolicitud }}</p>
              <!-- Mensaje capacida maxima-->
              <p *ngIf="project.current_members >= project.max_members" class="solicitud-pendiente">
                El proyecto tiene el máximo de participantes
              </p>

              <!-- Si eres miembro mostrarlo"-->
              <p *ngIf="isMember || isOwner || isAdmin" class="miembro-actual">Ya eres miembro de este proyecto</p>
              <!-- Si eres el owner puede eliminar el proyecto -->
              <label *ngIf="isOwner" for="btn-modal" class="boton-elegante rojo" (click)="seleccionarProyectoParaEliminar()">
                Eliminar proyecto
              </label>
            </div>
          </div>
          <!-- Columna para la imagen del proyecto -->
          <div class="imagen-proyecto">
            <img [src]="project.image_url || 'imagenes/abstract_image.jpg'" alt="Imagen del proyecto" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor 2 -->
  <div class="row mb-3">
    <div class="col-12">
        <!-- Datos contenedor 2 -->
        <div class="custom-container">
          <h2 class="titulos">Información del proyecto</h2>

          <div class="descripcion-contenedor">
            <h5>Descripción:</h5>
            <p>{{ project?.description }}</p>
          </div>

          <!-- Datos del proyecto en línea -->
          <div class="datos-linea">
            <div class="dato-item">
            <span 
              class="estado-indicador" 
              [ngClass]="{
                'activo': project?.estado === 'activo', 
                'inactivo': project?.estado !== 'activo'
              }"
            >
              <!-- Emoji según el estado -->
              <span *ngIf="project?.estado === 'activo'">✅</span>
              <span *ngIf="project?.estado !== 'activo'">❌</span>
            </span>
            {{ project?.estado }}
          </div>
            <div class="dato-item"><span class="emoji">🏷️</span> {{ project?.category === 'Diseno' ? 'Diseño' : project?.category }}</div>
            <div class="dato-item"><span class="emoji">📅</span> {{ project?.deadline | date:'dd/MM/yyyy' }}</div>
            <div class="dato-item"><span class="emoji">🔖</span> {{ project?.tags }}</div>
          </div>
      </div>
    </div>
  </div>

  <!-- Chat -->
  <div class="row mb-3">
    <div class="col-12">
      <!-- Contenedor general -->
      <div class="custom-container bg-dark text-white rounded shadow-sm p-4 d-flex flex-column" style="height: 500px;">
        <h2 class="titulos justify-content-center text-center">Chat en vivo</h2>
        <div class="chat d-flex flex-column h-100" *ngIf="isMember">
          <!-- Input oculto para nombre -->
          <input type="hidden" name="nombreUsuario" id="name" [(ngModel)]="nombreUsuario" required>

          <!-- Zona de mensajes con scroll -->
          <div class="flex-grow-1 overflow-auto mb-3">
            <div
              *ngFor="let msg of messages"
              [ngClass]="{'justify-content-end': msg.username === nombreUsuario, 'justify-content-start': msg.username !== nombreUsuario}"
              class="d-flex mb-2"
            >
              <!-- Mensaje de otro usuario -->
              <ng-container *ngIf="msg.username !== nombreUsuario">
                <img
                  [src]="getImagePorUsuario(msg.username) || 'perfiles/pordefecto.png'"
                  alt="Avatar"
                  class="rounded-circle me-2"
                  style="width: 45px; height: 45px; object-fit: cover;"
                />
                <div class="card bg-secondary text-white p-3" style="min-width: 100px; max-width: 80%;">
                  <small class="fw-bold">{{ msg.username }}</small>
                  <p class="mb-2">{{ msg.message }}</p>
                  <small class="text-light position-absolute" style="bottom: 5px; right: 10px;" *ngIf="msg.timestamp">
                    {{ msg.timestamp | date:'shortTime' }}
                  </small>
                </div>
                
              </ng-container>

              <!-- Mensaje del usuario actual -->
              <ng-container *ngIf="msg.username === nombreUsuario">
                <div class="card text-white p-3" style="min-width: 100px; max-width: 80%; background-color: rgb(77, 77, 77);">
                  <small class="fw-bold text-end d-block text-warning">Tú</small>
                  <p class="mb-2 text-start">{{ msg.message }}</p>
                  <small class="text-light position-absolute" style="bottom: 5px; right: 10px;" *ngIf="msg.timestamp">
                    {{ msg.timestamp | date:'shortTime' }}
                  </small>
                </div>
                <img
                  [src]="getImagePorUsuario(msg.username) || 'perfiles/pordefecto.png'"
                  alt="Avatar"
                  class="rounded-circle ms-2"
                  style="width: 45px; height: 45px; object-fit: cover;"
                />
              </ng-container>
            </div>
          </div>

          <!-- Formulario -->
          <form (ngSubmit)="submit()" #chatForm="ngForm" class="d-flex gap-2 mt-auto">
            <input
              class="form-control"
              placeholder="Escribe algo"
              name="message"
              [(ngModel)]="message"
              required
              autocomplete="off"
            />
            <button
              type="submit"
              class="btn btn-primary" style="border-radius: 20px;"
              [disabled]="!chatForm.form.valid"
            >
              Enviar
            </button>
          </form>
        </div>
        <!-- Si no es miembro -->
        <div class="justify-content-center text-center" *ngIf="!isMember" style="height: 150px;">
          Chat exclusivo para miembros del proyecto
          <div class="mt-2" style="font-size: 80px;">
            <i class="fa-solid fa-lock fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor 3 y 4 -->
  <div class="row align-items-stretch"><!-- asegura que las columnas (contenedores 3 y 4) se estiren y tengan la misma altura -->
    <!-- Contenedor 3 -->
    <div class="col-12 col-md-6 mb-3 d-flex"> <!-- Le ponemos d-flex para poder estirar el contenido dentro -->
      <div class="custom-container flex-fill"> <!-- flex-fill hace que este contenedor crezca para ocupar todo el alto disponible dentro de su columna -->
        <!-- Datos contenedor 3 -->
        <h2 class="titulos">Miembros del proyecto</h2>
        <p class="mb-2" style="color: rgb(107, 107, 248);">{{ project?.current_members }} / {{ project?.max_members }}</p>
        
        <div *ngFor="let miembro of members" class="miembro-info">
          <img [src]="miembro.image_url || 'perfiles/pordefecto.png'" style="width:45px; height: 45px;">

          <!-- Si el usuario es owner y el miembro no es el owner del proyecto -->
          <div *ngIf="isOwner && miembro.id !== project?.owner_id" class="miembro-item">
            <span>{{ miembro.name }} - </span>

            <select [(ngModel)]="miembro.pivot.role">
              <option value="admin">Admin</option>
              <option value="member">Miembro</option>
            </select>

            <button 
              *ngIf="miembro.pivot.role !== miembro.originalRole"
              (click)="guardarCambioRol(miembro)"
              class="btn btn-sm btn-success"
              style="margin-left: 8px;">
              Guardar
            </button>

            <!-- Icono para eliminar al usuario del proyecto -->
            <label for="btn-modal" (click)="seleccionarUsuario(miembro)">
              <i *ngIf="isAdmin || isOwner" class="fa-solid fa-user-minus" style="padding-left: 15px; cursor: pointer;" title="Eliminar miembro"></i>
            </label>
          </div>

          <!-- Si el miembro es el owner del proyecto -->
          <div *ngIf="miembro.id === project?.owner_id" class="miembro-item owner-item">
            <span>👑 {{ miembro.name }} - Dueño</span>
          </div>

          <!-- Si no se cumple ninguno de los anteriores casos (ej: eres miembro viendo a otro miembro) -->
          <div *ngIf="!isOwner && miembro.id !== project?.owner_id" class="miembro-item">
            <span>{{ miembro.name }} - {{ miembro.pivot.role === 'member' ? 'Miembro' : 'Admin'}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Contenedor 4 -->
    <div class="col-12 col-md-6 mb-3 d-flex">
      <div class="custom-container flex-fill">
        <!-- Datos contenedor 4 -->
        <h2 class="titulos">Tareas del proyecto</h2>
        <!-- Encabezado con filtros y contador -->
        <div class="filters-container d-flex justify-content-between align-items-center mb-3">
          
           <!-- Filtro 1 -->
          <div class="filter-item">
            <select class="form-select" [(ngModel)]="filtroEstado">
              <option value="all">Todos los estados</option>
              <option value="pending">Pendiente</option>
              <option value="in_progress">En progreso</option>
              <option value="completed">Completado</option>
            </select>
          </div>

          <!-- Filtro 2 -->
          <div class="filter-item">
            <select class="form-select" [(ngModel)]="filtroPrioridad">
              <option value="all">Todas las prioridades</option>
              <option value="low">Baja</option>
              <option value="medium">Media</option>
              <option value="high">Alta</option>
            </select>
          </div>

          <!-- Número total de tareas filtradas -->
          <p>Total de tareas: {{ tareasFiltradas.length }}</p>
        </div>

        <!-- tareas -->
        <div class="scroll">
          <ng-container *ngFor="let tareas of tareasFiltradas">
            <div class="tarea-card" [ngClass]="{'completed-task': tareas.status === 'completed'}">
              <div class="tarea-header">
                <h4>{{ tareas.title }}</h4>
                <div class="tarea-info">
                  <span class="status" [ngClass]="{
                    'bg-success': tareas.status === 'completed',
                    'active': tareas.status === 'active'
                  }">
                    {{ tareas.status }}
                  </span>
                  <span class="priority" [ngClass]="{
                    'bg-danger': tareas.priority === 'high',
                    'bg-warning': tareas.priority === 'medium',
                    'bg-success': tareas.priority === 'low'
                  }">
                    {{ tareas.priority }}
                  </span>
                  <span class="deadline">{{ tareas.deadline | date:'dd/MM/yyyy' }}</span>

                  <!-- Botón para abrir el modal -->
                  <label for="btn-modal" (click)="seleccionarTarea(tareas)">
                    <i *ngIf="isAdmin || isOwner" class="fas fa-trash papelera" title="Eliminar tarea"></i>
                  </label>
                </div>
              </div>
              <p class="tarea-description">{{ tareas.description }}</p>
            </div>
          </ng-container>
        </div>

        <!-- Modal (checkbox que controla la apertura del modal) -->
        <input type="checkbox" id="btn-modal" hidden>

        <div class="container-modal">
          <div class="content-modal">

            <!--Modal para eliminar tarea-->
            <h3 *ngIf="tipoModal === 'eliminarTarea'">
              ¿Estás seguro que deseas eliminar la tarea: 
              <strong>"{{ tareaSeleccionada?.title }}"</strong>?
            </h3>
            <p *ngIf="tipoModal === 'eliminarTarea'">
              Esta acción no se puede deshacer. Una vez eliminada, la tarea desaparecerá de todas las listas y no podrá ser recuperada. ¿Quieres continuar?
            </p>

            <!--Modal para eliminar usuario-->
            <h3 *ngIf="tipoModal === 'usuario'">
              ¿Estás seguro que deseas eliminar al usuario:
              <strong>"{{ usuarioSeleccionado?.name }}"</strong> del proyecto?
            </h3>
            <p *ngIf="tipoModal === 'usuario'">
              Al eliminar a este usuario, perderá acceso al proyecto y a su chat en vivo.
            </p>

            <!--Modal para eliminar proyecto-->
            <h3 *ngIf="tipoModal === 'eliminarProyecto'">
              ⚠️ Vas a eliminar el proyecto <strong>"{{ project?.name }}"</strong>
            </h3>
            <p *ngIf="tipoModal === 'eliminarProyecto'">
              Esta acción es permanente y no se podrá recuperar. ¿Deseas continuar?
            </p>

            <!--Modal para crear tarea-->
            <h2 *ngIf="tipoModal === 'crearTarea'">Crear nueva tarea</h2>
            <hr>
            <!-- Formulario modal para crear la tarea -->
            <form *ngIf="tipoModal === 'crearTarea'" (ngSubmit)="crearTarea()" #taskForm="ngForm">
              <!-- Título de la tarea -->
              <div class="form-group mt-2">
                <label for="titulo">Título</label>
                <input
                  type="text"
                  id="titulo"
                  name="titulo"
                  class="form-control"
                  [(ngModel)]="nuevaTarea.title"
                  required>
              </div>

              <!-- Descripción -->
              <div class="form-group mt-2">
                <label for="descripcion">Descripción</label>
                <textarea
                  id="descripcion"
                  name="descripcion"
                  class="form-control"
                  [(ngModel)]="nuevaTarea.description"
                  required
                  rows="4"></textarea>
              </div>

              <!-- Asignada a (desplegable de usuarios del proyecto) -->
              <div class="form-group mt-2">
                <label for="asignada">Asignada a</label>
                <select
                  id="asignada"
                  name="asignada"
                  class="form-control"
                  [(ngModel)]="nuevaTarea.assigned_to"
                  required>
                  <option *ngFor="let miembro of members" [value]="miembro.id">
                    {{ miembro.name }}
                  </option>
                </select>
              </div>

              <!-- Priority (alta, baja, media) -->
              <div class="form-group mt-2">
                <label for="priority">Prioridad</label>
                <select
                  id="priority"
                  name="priority"
                  class="form-control"
                  [(ngModel)]="nuevaTarea.priority"
                  required>
                  <option value="high">Alta</option>
                  <option value="medium">Media</option>
                  <option value="low">Baja</option>
                </select>
              </div>

              <!-- Deadline (fecha máxima) -->
              <div class="form-group mt-2">
                <label for="deadline">Fecha límite</label>
                <input
                  type="date"
                  id="deadline"
                  name="deadline"
                  class="form-control"
                  [(ngModel)]="nuevaTarea.deadline"
                  [min]="minDate"
                  required>
              </div>

              <!-- Botones de confirmación -->
              <hr>
              <div class="botones-modal">
                <div class="btn-cancelar">
                  <label for="btn-modal">Cancelar</label>
                </div>
                <button type="submit" class="btn-confirmar" [disabled]="!taskForm.valid">Crear tarea</button>
              </div>
            </form>
            
            <div class="botones-modal" *ngIf="tipoModal !== 'crearTarea'">
              <div class="btn-cancelar">
                <label for="btn-modal">Cancelar</label>
              </div>
              <div class="btn-confirmar" (click)="confirmarEliminacion()">
                <label for="btn-modal">Confirmar</label>
              </div>
            </div>
          </div>

          <label for="btn-modal" class="cerrar-modal"></label>
        </div>

        <!-- Botón para crear tarea -->
        <label *ngIf="isAdmin || isOwner" for="btn-modal" class="boton-elegante verde" (click)="abrirModalCrearTarea()">
          Crea tarea
        </label>
      </div>
    </div>
  </div>
</div>