<app-navbar-user></app-navbar-user>

<div class="container my-5">
  <div class="p-5 form-container">
    <h2 class="mb-4 fw-bold text-center">Crear nuevo proyecto</h2>
    <form #form="ngForm" (ngSubmit)="crearProyecto(form)">
      <div class="row g-3">
        <div class="col-md-6">
          <label for="projectName" class="form-label">Nombre del Proyecto</label>
          <input
            type="text"
            id="projectName"
            name="projectName"
            class="form-control"
            [(ngModel)]="projectName"
            required
            #projectNameField="ngModel"
          />
          <div *ngIf="form.submitted && !projectName" class="text-danger">
            El nombre del proyecto es obligatorio
          </div>
        </div>

        <div class="col-md-6">
          <label for="category" class="form-label">Categoría</label>
          <select
            id="category"
            name="category"
            class="form-control"
            [(ngModel)]="category"
            required
            #projectCategoryField="ngModel"
          >
            <option value="" disabled selected>Selecciona una categoría</option>
            <option value="Tecnologia">Tecnología</option>
            <option value="Deporte">Deporte</option>
            <option value="Diseno">Diseño</option>
            <option value="Marketing">Marketing</option>
            <option value="Negocios">Negocios</option>
            <option value="Musica">Música</option>
          </select>
          <div *ngIf="form.submitted && !category" class="text-danger">
            La categoría del proyecto es obligatoria
          </div>
        </div>

        <div class="col-12">
          <label for="description" class="form-label">Descripción</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            rows="5"
            [(ngModel)]="description"
            required
            #projectDescriptionField="ngModel"
          ></textarea>
          <div *ngIf="form.submitted && !description" class="text-danger">
            Añade una descripción
          </div>
        </div>

        <div class="col-md-6">
          <label for="max-members" class="form-label">Miembros máximos</label>
          <input
            type="number"
            id="max-members"
            name="max-members"
            class="form-control"
            [(ngModel)]="maxMembers"
            min="1"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="deadline" class="form-label">Fecha de finalización</label>
          <input
            type="date"
            id="deadline"
            name="deadline"
            class="form-control"
            [(ngModel)]="deadline"
            [min]="minDate"
            required
            #projectDeadlineField="ngModel"
          />
          <div *ngIf="form.submitted && !deadline" class="text-danger">
            Añade una fecha provisional
          </div>
        </div>

        <!-- Contenedor para las etiquetas -->
        <div class="col-md-6">
            <label for="tagInput" class="form-label">Etiquetas</label>
        
            <!-- Contenedor que muestra las etiquetas actuales -->
            <div class="d-flex flex-wrap gap-2 mb-2">
                <span *ngFor="let tag of tags; let i = index" class="badge px-3 py-2 rounded-pill position-relative">
                    {{ tag }}
                    
                    <!-- Botón de eliminar (la "X") -->
                    <button type="button" class="btn btn-borrar position-absolute m-2" style="top: -15px; right: -15px; width: 24px; height: 24px;" aria-label="Eliminar" (click)="removeTag(i)"><i class="fa-solid fa-xmark"></i></button>
                </span>
            </div>
        
            <!-- Campo de entrada para agregar nuevas etiquetas -->
            <div class="d-flex">
                <input
                    type="text"
                    id="tagInput"
                    name="tagInput"
                    class="form-control me-2"
                    [(ngModel)]="tagInput"
                    placeholder="Escribe una etiqueta"
                />
                <button type="button" class="btn btn-primary" (click)="addTag()"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>

        <!-- Imagen del proyecto -->
        <div class="col-md-6">
          <label for="image" class="form-label">Imagen del proyecto</label>
          <input
            type="file"
            id="image"
            name="image"
            class="form-control"
            accept="image/*"
            (change)="onImageSelect($event)"
            required
          />

          <div *ngIf="imagePreview" class="position-relative mt-4">
            <img [src]="imagePreview " alt="Vista previa" class="img-fluid rounded-3" />

             <!-- Botón flotante para eliminar la imagen -->
             <button
                type="button"
                class="btn btn-borrar position-absolute m-2" style="top: -15px; right: -15px; width: 34px; height: 34px;"
                (click)="removeImage()"
                title="Eliminar imagen"
            >
            <i class="fa-solid fa-xmark"></i>
           </button>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="boton-elegante px-4 py-2">
          Crear Proyecto
        </button>
      </div>
    </form>
  </div>

  <div class="container my-5">
    <h2 class="text-center text-light mb-3">¿Necesitas ayuda?</h2>
    <div class="accordion" id="faqAccordion">
        <!-- Pregunta 1 -->
        <div class="accordion-item mb-3 border border-dark rounded">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button rounded-3 custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ¿Qué información necesito para crear un proyecto?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body custom-accordion-body">
              Solo necesitas completar los campos básicos como el nombre del proyecto, su descripción y, si lo deseas, asignar responsables y establecer una fecha límite. Cuanta más información proporciones, más fácil será organizar las tareas.            
            </div>
          </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="accordion-item mb-3 border border-dark rounded">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button rounded-3 custom-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Por qué no se envía el formulario?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body custom-accordion-body">
                    Asegúrate de que todos los campos obligatorios estén completos. Si el botón “Crear proyecto” está desactivado, puede ser porque falta rellenar alguno o hay errores de validación. Revisa los campos marcados en rojo o intenta recargar la página.
                </div>
            </div>
        </div>

        <!-- Pregunta 3 -->
        <div class="accordion-item mb-3 border border-dark rounded">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button rounded-3 custom-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Cómo encuentro personas para colaborar en mi proyecto?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body custom-accordion-body">
                    Los colaboradores verán el potencial de tu proyecto y decidirán unirse si les interesa.
                </div>
            </div>
        </div>
    </div>
    <div style="height: 80px; margin-top: 20px;"></div>
</div>