<app-navbar-user></app-navbar-user>

<div class="container my-5">
  <div class="p-5 form-container">

    <h2 class="mb-4 fw-bold text-center">Crear nuevo proyecto</h2>

    <form #form="ngForm" (ngSubmit)="crearProyecto(form)">

      <div class="row g-3">
        <!-- Nombre del proyecto -->
        <div class="col-md-6">
          <label for="projectName" class="form-label">Nombre del Proyecto</label>
          <input
            type="text"
            id="projectName"
            name="projectName"
            class="form-control"
            [(ngModel)]="projectName"
            required
            #projectNameField="ngModel"
          />
          <div *ngIf="projectNameField.invalid && (projectNameField.touched || form.submitted)" class="text-danger">
            El nombre del proyecto es obligatorio
          </div>
        </div>

        <!-- Categoría -->
        <div class="col-md-6">
          <label for="category" class="form-label">Categoría</label>
          <select
            id="category"
            name="category"
            class="form-control"
            [(ngModel)]="category"
            required
            #projectCategoryField="ngModel"
          >
            <option value="" disabled selected>Selecciona una categoría</option>
            <option value="Tecnología">Tecnología</option>
            <option value="Educación">Educación</option>
            <option value="Diseño">Diseño</option>
            <option value="Marketing">Marketing</option>
            <option value="Negocios">Negocios</option>
            <option value="Salud">Salud</option>
          </select>
          <div *ngIf="projectCategoryField.invalid && (projectCategoryField.touched || form.submitted)" class="text-danger">
            La categoría del proyecto es obligatoria
          </div>
        </div>

        <!-- Descripción -->
        <div class="col-12">
          <label for="description" class="form-label">Descripción</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            rows="5"
            [(ngModel)]="description"
            required
            #projectDescriptionField="ngModel"
          ></textarea>
          <div *ngIf="projectDescriptionField.invalid && (projectDescriptionField.touched || form.submitted)" class="text-danger">
            La descripción del proyecto es obligatoria
          </div>
        </div>

        <!-- Miembros máximos -->
        <div class="col-md-6">
          <label for="max-members" class="form-label">Miembros máximos</label>
          <input
            type="number"
            id="max-members"
            name="max-members"
            class="form-control"
            [(ngModel)]="maxMembers"
            min="1"
            required
          />
        </div>

        <!-- Fecha límite -->
        <div class="col-md-6">
          <label for="deadline" class="form-label">Fecha de finalización</label>
          <input
            type="date"
            id="deadline"
            name="deadline"
            class="form-control"
            [(ngModel)]="deadline"
            [min]="minDate"
            required
            #projectDeadlineField="ngModel"
          />
          <div *ngIf="projectDeadlineField.invalid && (projectDeadlineField.touched || form.submitted)" class="text-danger">
            La fecha del proyecto es obligaria
          </div>
        </div>

        <!-- Contenedor para las etiquetas -->
        <div class="col-md-6">
            <label for="tagInput" class="form-label">Etiquetas</label>
        
            <!-- Contenedor que muestra las etiquetas actuales -->
            <div class="d-flex flex-wrap gap-2 mb-2">
                <span *ngFor="let tag of tags; let i = index" class="badge px-3 py-2 rounded-pill position-relative">
                    {{ tag }} <!-- Muestra el nombre de la etiqueta -->
                    
                    <!-- Botón de eliminar (la "X") -->
                    <button type="button" class="btn btn-borrar position-absolute m-2" style="top: -15px; right: -15px; width: 24px; height: 24px;" aria-label="Eliminar" (click)="removeTag(i)"><i class="fa-solid fa-xmark"></i></button>
                </span>
            </div>
        
            <!-- Campo de entrada para agregar nuevas etiquetas -->
            <div class="d-flex">
                <input
                    type="text"
                    id="tagInput"
                    name="tagInput"
                    class="form-control me-2"
                    [(ngModel)]="tagInput"
                    placeholder="Escribe una etiqueta"
                />
                <button type="button" class="btn btn-primary" (click)="addTag()"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>

        <!-- Imagen del proyecto -->
        <div class="col-md-6">
          <label for="image" class="form-label">Imagen del proyecto</label>
          <input
            type="file"
            id="image"
            name="image"
            class="form-control"
            accept="image/*"
            (change)="onImageSelect($event)"
            required
          />

          <div *ngIf="imagePreview" class="position-relative mt-4">
            <img [src]="imagePreview" alt="Vista previa" class="img-fluid rounded-3" />

             <!-- Botón flotante para eliminar la imagen -->
             <button
                type="button"
                class="btn btn-borrar position-absolute m-2" style="top: -15px; right: -15px; width: 34px; height: 34px;"
                (click)="removeImage()"
                title="Eliminar imagen"
            >
            <i class="fa-solid fa-xmark"></i>
           </button>
          </div>
        </div>
      </div>
      
      <!-- Botón -->
      <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-primary px-4 py-2">
          Crear Proyecto
        </button>
      </div>
    </form>
  </div>

  <div class="container my-5">
    <h2 class="text-center text-light mb-3">¿Necesitas ayuda?</h2>
    <div class="accordion" id="faqAccordion">
        <!-- Pregunta 1 -->
        <div class="accordion-item mb-3 border border-dark rounded">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button rounded-3 custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Qué servicios ofrecen?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body custom-accordion-body">
                    Ofrecemos una gama de servicios, que incluyen asesoría tecnológica, mantenimiento de equipos, soporte técnico personalizado y la venta de productos de alta calidad.
                </div>
            </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="accordion-item mb-3 border border-dark rounded">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button rounded-3 custom-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Cómo puedo contactar con soporte?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body custom-accordion-body">
                    Puedes contactar con nuestro equipo de soporte a través de nuestro formulario de contacto en el sitio web, por correo electrónico o redes sociales.
                </div>
            </div>
        </div>

        <!-- Pregunta 3 -->
        <div class="accordion-item mb-3 border border-dark rounded">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button rounded-3 custom-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Tienen garantía en sus productos?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body custom-accordion-body">
                    Sí, todos nuestros productos tienen garantía de fábrica. Además, ofrecemos opciones de extensión de garantía para algunos productos específicos.
                </div>
            </div>
        </div>
    </div>
</div>
