<app-navbar-user></app-navbar-user>

<div class="container">
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code-xml"><path d="m18 16 4-4-4-4"></path><path d="m6 8-4 4 4 4"></path><path d="m14.5 4-5 16"></path></svg>
    Tus proyectos: <strong style="color: blue;">{{ totalProyectos }}</strong>
    </h1>
    <div class="row mt-5" *ngFor="let proyecto of proyectosUsuario | paginate: { itemsPerPage: 3, currentPage: page }">
        <div class="col-md-6">
            <div class="container-img">
                <img [src]="proyecto.image_url || 'imagenes/abstract_image.jpg'" class="custom-card-img" alt="Imagen proyecto">
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-info">
                <div class="name">
                    <h2>{{ proyecto.name }}</h2>
                </div>
                <div class="categoria" [ngClass]="proyecto.category.toLowerCase()">
                    <h5>{{ proyecto.category === 'Diseno' ? 'Diseño' : proyecto.category }}</h5>
                </div>
                <div class="descripcion">
                    <p>{{ proyecto.description }}</p>
                </div>
                <div class="botones">
                    <button class="boton-elegante" [routerLink]="['/proyecto', proyecto.id]">Ver mas</button>
                    <button class="boton-elegante rojo" *ngIf="rolCargado && noEsOwner(proyecto.id)" (click)="salirDelProyecto(proyecto.id)">Salir</button>
                    <label *ngIf="rolCargado && esOwner(proyecto.id)" for="btn-modal" class="boton-elegante rojo" (click)="seleccionarProyectoParaEliminar()">
                        Eliminar proyecto
                    </label>
                </div>
            </div>
        </div>

        <!-- Modal (checkbox que controla la apertura del modal) -->
        <input type="checkbox" id="btn-modal" hidden>

        <div class="container-modal">
            <div class="content-modal">
                <h3 *ngIf="tipoModal === 'eliminarProyecto'">
                    ⚠️ Vas a eliminar el proyecto <strong>"{{ proyecto.name }}"</strong>
                </h3>
                <p>Esta acción es permanente y no se podrá recuperar. ¿Deseas continuar?</p>
                <div class="botones-modal">
                    <div class="btn-cancelar">
                        <label for="btn-modal">Cancelar</label>
                    </div>
                    <div class="btn-confirmar" (click)="eliminarProyecto(proyecto.id)">
                        <label for="btn-modal">Confirmar</label>
                    </div>
                </div>
            <label for="btn-modal" class="cerrar-modal"></label>
        </div>
    </div>
</div>

<div class="paginacion" style="margin-top: 100px; margin-bottom: 100px;">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

<div style="height: 1px;"></div>
