.container {
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 1200px;
  color: white;
}

.container h1 {
  font-size: 3.2em;
}

.container svg {
  height: 45px;
  width: 45px;
}

.container-img {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid gray;
}

.container-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: transform .2s
}

.container-img img:hover {
  transform: scale(1.05);
}

.name {
  font-size: 25px;
}

.categoria h5{
  max-width: 150px;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  padding: 6px;
}

.descripcion {
  color: #d1d1d1;
  font-size: 18px;
  overflow-y: auto;
  word-wrap: break-word;
  max-height: 160px;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  word-wrap: break-word;
}

.estado-proyecto-miembro {
  padding: 5px;
  padding-bottom: 1px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
}

.activo {
  background-color: green;
  color: white;
}

.inactivo {
  background-color: red;
  color: white;
}

@media (max-width:576px){
  .container-img {
    margin-bottom: 15px;
  }
}