<app-navbar-user></app-navbar-user>

<div class="container">
  <!-- Perfil superior -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="custom-container d-flex align-items-center gap-4 flex-wrap">
                <div class="perfil-imagen">
                    <img *ngIf="usuario" [src]="usuario.image_url ? (environment.apiUrl + '/' + usuario.image_url) : 'perfiles/pordefecto.png'" class="rounded-circle" style="width: 150px; height: 150px;" alt="Foto de perfil">
                </div>
                <div class="perfil-info">
                    <div *ngIf="usuario">
                        <h1>{{ usuario.name }}</h1>
                        <h4>Intereses: {{ usuario.preferences }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tareas -->
    <div class="row mb-5 d-flex align-items-stretch">
        <div class="col-lg-8 d-flex">
            <div class="custom-container flex-fill">
                <div class="tareas">
                    <h3 class="mb-4">Tareas</h3>
                    <div *ngIf="tareas.length > 0; else noTareas">
                        <div *ngFor="let tarea of tareas" class="tareas-card mb-3 p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5>{{ tarea.title }}</h5>
                                    <small class="text-white">{{ tarea.description }}</small>
                                </div>
                                <div class="d-flex align-items-end">
                                    <select [(ngModel)]="tarea.status" class="form-select me-2">
                                        <option value="pending">Pendiente</option>
                                        <option value="in_progress">En progreso</option>
                                        <option value="completed">Completada</option>
                                    </select>

                                    <button 
                                        *ngIf="tarea.status !== tarea.anteriorStatus"
                                        (click)="actualizarTareaEstado(tarea)"
                                        class="btn btn-sm btn-success">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <p class="text-white"><strong>Estado:</strong> {{ tarea.status }}</p>
                                <p class="text-white"><strong>Prioridad:</strong> {{ tarea.priority }} | <strong>Límite:</strong> {{ tarea.deadline | date: 'dd/MM/yyyy' }}</p>
                            </div>
                        </div>
                    </div>
                    <ng-template #noTareas>
                        <p class="text-center text-white">No hay tareas asignadas.</p>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- Datos -->
        <div class="col-lg-4 d-flex">
            <div class="flex-fill d-flex flex-column gap-3">
                <div class="custom-container flex-fill d-flex flex-column justify-content-center align-items-center text-center text-break w-100">
                    <h4>Biografía</h4>
                    <p *ngIf="usuario">{{ usuario.biography || 'Sin biografía' }}</p>
                </div>
                <div class="custom-container flex-fill d-flex flex-column justify-content-center align-items-center text-center text-break w-100">
                    <i class="fas fa-diagram-project fa-2x mb-3 text-success"></i>
                    <h4>Proyectos</h4>
                    <span class="badge bg-success fs-5 px-3 py-2">{{ proyectosActivosUsuario }}</span>
                </div>
                <div class="custom-container flex-fill d-flex flex-column justify-content-center align-items-center text-center text-break w-100">
                    <i class="fas fa-calendar-alt fa-2x mb-3 text-warning"></i>
                    <h4>Cuenta creada el</h4>
                    <p *ngIf="usuario">{{ usuario.created_at | date:'dd/MM/yyyy' }}</p>
                </div>
                <div class="custom-container flex-fill d-flex flex-column justify-content-center align-items-center text-center text-break w-100">
                    <h4>Estadísticas</h4>
                    <p><strong>Tareas pendiendes:</strong> {{ tareasPendientes.length }}</p>
                    <p><strong>Tareas en progeso:</strong> {{ tareasEnProceso.length }}</p>
                    <p><strong>Tareas activas:</strong> {{ tareasCompletadas.length }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
