/* Estilos para el fondo animado */
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Estilo para el contenedor del formulario */
.container {
    position: relative;
    z-index: 2;
}

/* Estilo para la tarjeta del formulario */
.card {
    background: #192f46; /* Fondo oscuro sólido */
    color: #fff; /* Texto blanco */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

h1, h4 {
    color: #fff; /* Título blanco */
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para los campos de texto */
.form-control {
    background-color: #34495e; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    border: 1px solid #2ecc71; /* Borde verde */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.329);
}


.form-control:focus {
    border-color: #3498db; /* Borde azul cuando el campo está enfocado */
    outline: none;
}

/* Estilo para los botones */
button {
    background-color: #2ecc71; /* Fondo verde */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 48%;
}

button:hover {
    background-color: #27ae60; /* Fondo verde más oscuro */
    transform: scale(1.05);
}

/* Estilo para los botones "Volver" y "Iniciar sesión" */
.d-flex {
    display: flex;
    justify-content: space-between;
}

.d-flex button {
    width: 48%; /* Asegura que los botones ocupen la mitad de su contenedor */
}

.d-flex a, p {
    margin-bottom: 0;
}

/* Botón de "Volver" */
.btn-secondary {
    background-color: #7f8c8d; /* Gris oscuro */
    border: none;
}

.btn-secondary:hover {
    background-color: #95a5a6; /* Gris más claro */
}
