<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg p-5">
        <div *ngIf="step === 1">
          <h1 class="text-center mb-2 fw-bold" style="font-size: 36px; color: #333;">Projexus</h1>
          <p class="text-center text-muted mb-4" style="font-size: 18px;">Paso 1: Información Básica</p>

          <form #formStep1="ngForm" (ngSubmit)="nextStep()">
            <!-- Nombre -->
            <div class="mb-4">
              <div class="input-container">
                <input id="name" type="text" [(ngModel)]="name" name="name" class="form-control" required>
                <label for="input" class="label"><i class="fa-solid fa-user"></i> Nombre de usuario</label>
                <div class="underline"></div>
              </div>
              <div *ngIf="formStep1.submitted && !name" class="text-danger">El nombre de usuario es obligatorio.</div>
            </div>

            <!-- Correo -->
            <div class="mb-4">
                <div class="input-container">
                  <input id="email" type="email" [(ngModel)]="email" name="email" class="form-control" required email #emailCtrl="ngModel">
                  <label for="input" class="label"><i class="fa-solid fa-envelope"></i> Correo electrónico</label>
                  <div class="underline"></div>
                </div>
                <div *ngIf="formStep1.submitted && !email" class="text-danger">Añade un correo electrónico</div>
            </div>

            <!-- Contraseña -->
            <div class="mb-4">
              <div class="input-container">
                <input id="password" type="password" [(ngModel)]="password" name="password" class="form-control" required>
                <label for="input" class="label"><i class="fa-solid fa-lock"></i> Contraseña</label>
                <div class="underline"></div>
              </div>
              <div *ngIf="formStep1.submitted && !password" class="text-danger">La contraseña es obligatoria.</div>
            </div>

            <!-- Repite contraseña -->
            <div class="mb-4">
              <div class="input-container">
                <input id="password_confirmation" type="password" [(ngModel)]="password_confirmation" name="password_confirmation" class="form-control" required>
                <label for="input" class="label"><i class="fa-solid fa-lock"></i> Contraseña</label>
                <div class="underline"></div>
              </div>
              <div *ngIf="formStep1.submitted && password && password_confirmation && password !== password_confirmation" class="text-danger mt-2">Las contraseñas no coinciden.</div>
            </div>

            <!-- Botón siguiente -->
            <div class="d-flex justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary px-4 rounded-pill">
                Siguiente<i class="fa-solid fa-arrow-right ms-2"></i>
              </button>
            </div>

            <!-- Ya tienes cuenta -->
            <div class="d-flex align-items-center justify-content-center">
              <p class="mb-0 me-2">¿Ya tienes cuenta?</p>
              <a type="button" class="btn btn-outline-danger btn-sm" routerLink="/login">Inicia sesión</a>
            </div>
          </form>
          <div *ngIf="registrationError" class="alert alert-danger mt-3" role="alert">
            {{ registrationError }}
          </div>
        </div>

  
        <div *ngIf="step === 2">
          <h2 class="text-center mb-3 fw-bold" style="color: #333;">Paso 2: Áreas de Interés</h2>
          <p class="text-center text-muted mb-4">Selecciona tus intereses favoritos</p>
          <form>
            <div class="container d-flex justify-content-center">
              <div class="row g-3 justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let area of areas">
                  <div 
                    class="card interest-card text-center p-3"
                    [ngClass]="{'selected': selectedOptions[area.key]}"
                    (click)="selectedOptions[area.key] = !selectedOptions[area.key]"
                  >
                    <input 
                      type="checkbox" 
                      [(ngModel)]="selectedOptions[area.key]" 
                      [name]="area.key" 
                      class="d-none"
                    />
                    <div class="fs-1">{{ area.icon }}</div>
                    <div class="mt-2 fw-semibold">{{ area.label }}</div>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" [(ngModel)]="preferences" name="preferences">
          </form>
          <div *ngIf="errorCheckbox" class="text-center text-danger mt-3">{{ errorPreferencias }}</div>
          <div class="d-flex justify-content-between mt-4">
            <button (click)="prevStep()" class="btn btn-secondary rounded-pill px-4">
              <i class="fa-solid fa-arrow-left me-2"></i> Anterior
            </button>
            <button (click)="nextStep()" class="btn btn-primary rounded-pill px-4">
              Siguiente <i class="fa-solid fa-arrow-right ms-2"></i>
            </button>
          </div>
        </div>

        <div *ngIf="step === 3">
            <h2 class="text-center mb-3 fw-bold" style="color: #333;">Paso 3: Biografía</h2>
            <p class="text-center text-muted mb-4">Cuenta un poco sobre ti. ¿Qué te apasiona?</p>
            <form>
                <div class="mb-3">
                    <label for="bio" class="form-label">Biografía (Opcional)</label>
                    <textarea id="biography" [(ngModel)]="biography" name="biography" class="form-control" rows="8"></textarea>
                </div>
            </form>
            <!-- Imagen de perfil -->
            <div class="mb-4">
              <label for="image" class="form-label fw-semibold">Imagen de perfil</label>
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-image me-3 text-secondary fs-5"></i>
                <input 
                  type="file" 
                  id="image" 
                  name="image" 
                  class="form-control" 
                  accept="image/*"
                  (change)="onImageSelect($event)" 
                />
                <!-- (change) Para recoger el file porque ngModel no puedo pillar archivos-->
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button *ngIf="step > 1" (click)="prevStep()" class="btn btn-secondary rounded-pill px-4 me-4"><i class="fa-solid fa-arrow-left me-2"></i> Anterior</button>
              <button *ngIf="step === 3" (click)="completeRegistration()" class="btn btn-primary rounded-pill fw-semibold"><i class="fa-solid fa-check-circle me-2"></i>
              Finalizar Registro</button>
          </div>
        </div>


        <div class="steps mt-4">
          <div class="step-item" [ngClass]="{'active-step': step === 1}">
            <div class="step-line" [ngClass]="{'active': step >= 1}">
              <span *ngIf="step > 1"></span>
            </div>
          </div>
          <div class="step-item" [ngClass]="{'active-step': step === 2}">
            <div class="step-line" [ngClass]="{'active': step >= 2}">
              <span *ngIf="step > 2"></span>
            </div>
          </div>
          <div class="step-item" [ngClass]="{'active-step': step === 3}">
            <div class="step-line" [ngClass]="{'active': step >= 3}">
              <span *ngIf="step > 3"></span>
            </div>
          </div>
        </div>
  </div>
</div>