<!-- navbar-user.component.html -->
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="navbar navbar-expand-lg navigation">

        <!-- Nombre de la página -->
        <a class="navbar-brand" routerLink="/home">
            Projexus
        </a>

        <!-- Botón de hamburguesa para pantallas pequeñas -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Bloques colapsables para pantallas pequeñas -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Botones para welcome sin sesión -->
          <div *ngIf="!token" class="d-flex w-100 flex-md-row flex-column">
            <!-- Bloque centrado con los tres botones -->
            <div class="d-flex justify-content-center align-items-center flex-grow-1 flex-column flex-md-row">
                <button class="btn boton-normal me-1 mb-2 mb-md-0" (click)="scrollToSection('projexus-info')">¿Qué es projexus?</button>
                <button class="btn boton-normal me-1 mb-2 mb-md-0" (click)="scrollToSection('como-funciona')">Cómo funciona</button>
            </div>

            <!-- Bloque con los botones de login y registro alineados a la derecha -->
            <div class="d-flex justify-content-end flex-column flex-md-row">
                <button class="btn boton-normal me-2 mb-2 mb-md-0" routerLink="/login">Iniciar sesión</button>
                <button class="btn boton-register" routerLink="/register">Registrarse</button>
            </div>
          </div>

          <!-- Cuando el usuario está autenticado -->
          <div *ngIf="token" class="d-flex justify-content-end flex-column flex-md-row w-100">
            <div class="d-flex align-items-center perfil">   
              <!-- Botón de crear proyecto -->
              <button class="btn boton-crear-proyecto me-3" routerLink="/crear-proyecto"><i class="fa-solid fa-plus"></i> Crear proyecto</button>
              
              <!-- Campanita de notificaciones -->
              <div class="dropdown me-3">
                <button class="btn boton-normal position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleDropdown()">
                  <i class="fa-solid fa-bell"></i>
                  <!-- Badge solo si hay notificaciones -->
                  <span *ngIf="notificaciones.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ notificaciones.length }}
                  </span>
                  <!-- Flecha que gira -->
                  <i class="fa-solid fa-chevron-right ms-2" [ngClass]="{'rotate-90': isDropdownOpen, 'rotate-back': !isDropdownOpen}"></i>
                </button>
                <!-- Panel de notificaciones -->
                <div class="dropdown-menu panel-notificaciones dropdown-menu-end">
                  <div class="panel-header">
                    <h4>Notificaciones</h4>
                    <hr>
                  </div>  
                  <div class="panel-notificaciones-content">
                    <div *ngIf="loading" class="loading">Cargando solicitudes...</div>
                    <div *ngIf="!loading && notificaciones.length > 0">
                      <ul class="notificaciones-list">
                        <li *ngFor="let notificacion of notificaciones" class="notificacion-item">
                          <div class="notificacion-info">
                            <div class="notificacion-header">
                              <span class="mensaje" [innerHTML]="notificacion.mensaje"></span>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between align-items-center mt-2 flex-wrap">
                            <div class="estado text-white fw-bold">
                              <i class="fa-solid fa-hourglass"></i> {{ notificacion.estado }}
                            </div>
                            
                            <div class="d-flex gap-2 mt-2 mt-md-0">
                              <button class="btn btn-success btn-sm" (click)="aceptarMiembro(notificacion.project_id, notificacion.user_id)">Aceptar</button>
                              <button class="btn btn-danger btn-sm" (click)="rechazarMiembro(notificacion.project_id, notificacion.user_id)">Rechazar</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div> 
                    <div *ngIf="!loading && notificaciones.length === 0">
                      <p class="sin-notificaciones">No tienes solicitudes pendientes.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Imagen de perfil -->
              <img [src]="userImage ? (environment.apiUrl + '/' + userImage) : '/perfiles/pordefecto.png'" class="img-fluid navigation_image" id="dropdownMenuButton" aria-expanded="false" data-bs-toggle="dropdown" aria-haspopup="true">

              <!-- Menú desplegable -->
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                <div class="dropdown-menu-header">
                  <img [src]="userImage ? (environment.apiUrl + '/' + userImage) : '/perfiles/pordefecto.png'" class="float-end" style="width: 40px; height: 40px;">
                  <span>{{ name }}</span>  <!-- Aquí mostramos el nombre del usuario -->
                </div>

                <!-- Secciones del menú -->
                <div>
                  <div class="dropdown-menu-section" (click)="irAPerfil()">
                    <span>Mi perfil</span><i class="fa-solid fa-user float-end"></i>
                  </div>
                  <div class="dropdown-menu-section" (click)="proyectosUsuario()">
                    <span>Mis proyectos</span><i class="fa-solid fa-diagram-project float-end"></i>
                  </div>
                  <div class="dropdown-menu-section text-danger" (click)="logout()">
                    <span>Cerrar sesión</span><i class="fa-solid fa-right-from-bracket float-end"></i>
                  </div>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
